body{
    background: rgb(44,30,210);
    background: linear-gradient(180deg, rgba(44,30,210,1) 0%, rgba(9,92,121,1) 34%, rgba(0,255,149,1) 100%);}

.container-crypt{
    margin-left: 50px;
}

.container-decrypt{
    margin-left: -371px;
    visibility: hidden;
}
.vigenere{
    display: flex;
    margin-top:25px;

}

.btn-vigenege{
    background-color: Transparent;
    border: 0;
    margin-left: 145px;
    margin-top: 20px;
}

.btn-vigenege i {
    font-size: 65px;
}

.container{

    margin-top: 100px;
    background: rgb(44,30,210);
    background: linear-gradient(0deg, rgba(44,30,210,1) 0%, rgba(9,92,121,1) 34%, rgba(0,255,149,1) 100%);
    width: 500px;
    height: 670px;
    box-shadow: 6px -5px 29px -6px rgba(0,0,0,1);
}
.switch{
    padding-top: 10px;
    text-align: center;
}
 .toggle{
     background: transparent;
     border: none;
 }

 #crypt-btn{
     width: 80px;
     height: 45px;
 }

 #decrypt-btn{
     width: 95px;
     height: 45px;
 }

 #crypto-btn:hover{
     background-color: cornflowerblue;
 }

navbar navbar-light{
    width:500px;
}